<div class="row">
    <language-select></language-select>
</div>
<div class="row">
    <div>
        <section>
            <md-toolbar color="primary">
                <div class="md-toolbar-tools">
                    <h3>PiChat</h3>
                    <loading-indicator></loading-indicator>
                    <span class="fill-remaining-space"></span>
                    <!--<language-select></language-select>-->
                    <button md-raised-button class="home-toolbar-button" (click)="showProfilePage()" *ngIf="!isTabsHidden">
                        <md-icon>face</md-icon> {{ 'prof' | translate }}
                    </button>
                    <button md-raised-button class="home-toolbar-button" (click)="hideProfilePage()" *ngIf="isTabsHidden">
                        <md-icon>home</md-icon> {{ 'hom' | translate }}
                    </button>
                    <button md-raised-button class="home-toolbar-button" (click)="logout()">
                        <span class="glyphicon glyphicon-log-out"></span> {{ 'logout' | translate }}
                    </button>
                </div>
            </md-toolbar>
            <div>
                <div class="tabsdemoDynamicHeight" ng-cloak="" [hidden]="isTabsHidden">
                    <md-content>
                        <md-tab-group md-border-bottom="" md-dynamic-height="" [(selectedIndex)]="selectedTabIndex" (focusChange)="selectTab()">
                            <md-tab>
                                <template md-tab-label>
                                    {{ 'pic' | translate }}
                                </template>
                            </md-tab>
                            <md-tab>
                                <template md-tab-label>
                                    {{ 'grp' | translate }}
                                </template>
                            </md-tab>
                            <md-tab>
                                <template md-tab-label>
                                    {{ 'upli' | translate }}
                                </template>
                            </md-tab>
                            <span flex></span>
                        </md-tab-group>
                    </md-content>
                </div>
                <div class="col-md-12" style="padding-top: 20px;background-color: #f6f6f6;">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </section>
    </div>
</div>