<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <language-select></language-select>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <md-card>
            <md-toolbar color="primary">
                {{ 'login' | translate }}
                <loading-indicator></loading-indicator>
            </md-toolbar>
            <md-card-content>
                <form (ngSubmit)="login()" #loginForm="ngForm">
                    <div class="form-group">
                        <md-input type="email" name="email" class="login-component-input" placeholder="Email" [(ngModel)]="email" required></md-input>
                    </div>
                    <div class="form-group">
                        <md-input type="password" name="password" class="login-component-input" placeholder="{{ 'pass' | translate }}" [(ngModel)]="password" required></md-input>
                    </div>
                    <div class="form-group login-component-loginbutton-container">
                        <button md-raised-button color="primary" class="login-component-loginbutton">
                            <span class="glyphicon glyphicon-log-in"></span> {{ 'login' | translate }}
                        </button>
                    </div>
                </form>
                <md-divider class="login-component-divider"></md-divider>
                <div class="login-component-registerlink-container">
                    <button md-button [routerLink]="['/register']">{{ 'logmsg' | translate }}</button>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>