<div>
    <div class="row" style="margin-bottom: 50px;">
        <div class="col-md-12" aria-label="My groups">
            <md-toolbar class="panel-toolbar">
                <div class="md-toolbar-tools">
                    <h2>{{'myg' | translate}}</h2>
                    <span flex="" class="flex"></span>
                    <a id="toogle-my-groups-container" class="md-button" ng-click="groupCtrl.toogleMyGroupsContainer()" data-toggle="collapse" data-target="#my-groups-container">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                </div>
            </md-toolbar>
            <div id="my-groups-container" class="collapse in" ng-hide="groupCtrl.myGroups.length == 0">
                <div ng-cloak>
                    <md-content layout-padding style="background-color: transparent;">
                        <md-grid-list md-cols-gt-md="3" md-cols="2" md-cols-md="3" md-cols-xs="1"
                                      md-row-height-gt-md="5:3" md-row-height="4:3"
                                      md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="4px">
                            <md-grid-tile ng-repeat="g in groupCtrl.myGroups"
                                          md-colspan-gt-sm="1"
                                          md-rowspan-gt-sm="1"
                                          popular-group-directive="g.membersCount"
                                          ng-click="groupCtrl.showMemberList($event,g)"
                                          style="cursor: pointer;">
                                <div class="groupinfo">
                                    <p><span class="md-headline">{{g.name}}</span></p>
                                    <p><span class="md-subhead">{{g.ownerName}}</span></p>
                                    <p class="description" data-toggle="tooltip" data-placement="bottom" title="{{g.description}}">{{g.description}}</p>
                                    <p>{{'pic' | translate}}: {{g.picturesCount}}, {{'mem' | translate}}: {{g.membersCount}}</p>
                                    <!--Role: 1=NotMember 2=Pending 3=Member 4=Admin 5=Owner-->
                                    <md-button style="float: inherit; background-color: rgb(244, 67, 54); color: white;" class="md-raised" ng-hide="!(g.role==3||g.role==4)" ng-click="groupCtrl.leaveGroup(g)" ng-disabled="groupCtrl.SharedProperties.waitingForResp">{{'uns' | translate}}</md-button>
                                </div>
                            </md-grid-tile>
                        </md-grid-list>
                    </md-content>
                </div>
                <div style="text-align: center; margin-top: 20px;" class="alert alert-info" role="alert" ng-hide="groupCtrl.myGroups.length > 0">{{'msg1' | translate}}</div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 50px;">
        <md-divider></md-divider>
    </div>

    <div class="row">
        <div class="col-md-12">
            <md-toolbar class="panel-toolbar">
                <div class="md-toolbar-tools">
                    <h2>{{'oth' | translate}}</h2>
                </div>
            </md-toolbar>
            <div style="margin-top: 35px;margin-left: 20px;margin-right: 20px;">
                <md-input-container class="md-block" flex-gt-sm>
                    <label for="TeamNameInput">{{'fil' | translate}}</label>
                    <md-icon>search</md-icon>
                    <input id="TeamNameInput" ng-model="groupCtrl.filter" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 2000, 'blur': 0 } }" ng-change="groupCtrl.getGroupsSwitch()">
                </md-input-container>
            </div>
        </div>

        <div class="col-md-12" ng-hide="groupCtrl.otherGroups.length == 0">
            <div ng-cloak>
                <md-content layout-padding style="background-color: transparent;">
                    <md-grid-list md-cols-gt-md="3" md-cols="2" md-cols-md="3" md-cols-xs="1"
                                  md-row-height-gt-md="5:3" md-row-height="4:3"
                                  md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="4px">
                        <md-grid-tile ng-repeat="g in groupCtrl.otherGroups"
                                      md-colspan-gt-sm="1"
                                      md-rowspan-gt-sm="1"
                                      popular-group-directive="g.membersCount"
                                      style="cursor: pointer;">
                            <div class="groupinfo">
                                <p><span class="md-headline">{{g.name}}</span></p>
                                <p><span class="md-subhead">{{g.ownerName}}</span></p>
                                <p class="description" data-toggle="tooltip" data-placement="bottom" title="{{g.description}}">{{g.description}}</p>
                                <p>{{'pic' | translate}}: {{g.picturesCount}}, {{'mem' | translate}}: {{g.membersCount}}</p>
                                <!--Role: 1=NotMember 2=Pending 3=Member 4=Admin 5=Owner-->
                                <md-button style="float: inherit; background-color: rgb(76, 175, 80); color: white;" class="md-raised" ng-hide="g.role!=1" ng-click="groupCtrl.joinGroup(g)" ng-disabled="groupCtrl.SharedProperties.waitingForResp">{{'sub' | translate}}</md-button>
                                <md-button style="float: inherit;" class="md-raised" ng-hide="g.role!=2">{{'pen' | translate}}</md-button>
                            </div>
                        </md-grid-tile>
                    </md-grid-list>
                </md-content>
            </div>
            
            <div style="text-align: center;margin-top: 20px;">
                <md-button class="md-fab" ng-click="groupCtrl.showMore()" ng-hide="!groupCtrl.hasMore">{{'more' | translate}}</md-button>
                <div class="alert alert-info" role="alert" ng-hide="groupCtrl.hasMore">{{'msg2' | translate}}</div>
            </div>
        </div>
        <div class="col-md-12" style="text-align: center;">
            <div class="alert alert-info" role="alert" ng-hide='!(groupCtrl.otherGroups.length == 0 && groupCtrl.filter != "")'>{{'msg3' | translate}}</div>
            <div class="alert alert-info" role="alert" ng-hide='!(groupCtrl.otherGroups.length == 0 && groupCtrl.filter == "")'>{{'msg4' | translate}}</div>
        </div>
    </div>

</div>
