<md-dialog-content class="md-dialog-content" role="document" tabindex="-1" style="width: 400px;">
    <h2 class="md-title ng-binding" style="margin-bottom: 25px;">{{'cng' | translate}}</h2>

    <form name="groupCreateForm">
        <md-input-container class="md-block" style="margin: 0;">
            <label>{{'name' | translate}}</label>
            <input required maxlength="1000" type="text" id="groupCreateFormName" name="name" ng-model="groupCreateDialogCtrl.groupName" style="max-width: none; width: 100%;" my-enter="groupCreateDialogCtrl.createGroup()" />
            <div ng-messages="groupCreateForm.name.$error" role="alert">
                <div ng-message-exp="['required']">
                    {{'req' | translate}}
                </div>
            </div>
        </md-input-container>
        <md-input-container class="md-block" style="margin: 0;">
            <md-checkbox ng-model="groupCreateDialogCtrl.isPrivate" aria-label="Private group checkbox">
                {{'priv' | translate}}
            </md-checkbox>
        </md-input-container>
        <md-input-container class="md-block" style="margin-top: 0px; text-align: center;">
            <md-button md-no-ink class="md-primary" style="" ng-click="groupCreateDialogCtrl.cancel()">
                {{'can' | translate}}
            </md-button>
            <md-button md-no-ink class="md-primary" style="" ng-click="groupCreateDialogCtrl.createGroup()" ng-disabled="groupCreateForm.$invalid">
                {{'cr' | translate}}
            </md-button>
        </md-input-container>
    </form>
</md-dialog-content>
