<div class="row">
    <div>
        <section class="md-whiteframe-z1">
            <md-toolbar class="md-primary">
                <div class="md-toolbar-tools">
                    <h3>PiChat</h3>
                    <span flex="" class="flex"></span>
                    <language-select></language-select>
                    <md-button class="md-raised md-default" style="width: 100px;" ng-click="homeCtrl.showProfilePage();" ng-hide="homeCtrl.isTabsHidden">
                        <md-icon>face</md-icon> {{'prof' | translate}}
                    </md-button>
                    <md-button class="md-raised md-default" style="width: 100px;" ng-click="homeCtrl.hideProfilePage();" ng-hide="!homeCtrl.isTabsHidden">
                        <md-icon>home</md-icon> {{'hom' | translate}}
                    </md-button>
                    <md-button class="md-raised md-default" style="width: 100px;" ng-click="homeCtrl.logout()">
                        <span class="glyphicon glyphicon-log-out"></span> {{'logout' | translate}}
                    </md-button>
                </div>
            </md-toolbar>
            <div>
                <div class="tabsdemoDynamicHeight" ng-cloak="" ng-hide="homeCtrl.isTabsHidden">
                    <md-content>
                        <md-tabs md-border-bottom="" md-dynamic-height="" md-selected="homeCtrl.selectedTabIndex">
                            <md-tab label="{{'pic' | translate}}" ng-click="homeCtrl.selectTab();">
                            </md-tab>
                            <md-tab label="{{'grp' | translate}}" ng-click="homeCtrl.selectTab();">
                            </md-tab>
                            <md-tab label="{{'upli' | translate}}" layout-align="end" ng-click="homeCtrl.selectTab();">
                            </md-tab>
                            <span flex></span>
                        </md-tabs>
                    </md-content>
                </div>
                <div class="col-md-12" style="padding-top: 20px;background-color: #f6f6f6;">
                    <ng-outlet></ng-outlet>
                </div>
            </div>
        </section>
    </div>
</div>