<div>
    <div class="row">
        <div class="col-md-4">
            <md-input-container class="md-block" flex-gt-sm style="margin-left: 8px;">
                <label>{{'gr' | translate}}</label>
                <md-select ng-model="imageListCtrl.selectedGroup">
                    <md-option value="-1" ng-click="imageListCtrl.getImages()">{{'all' | translate}}</md-option>
                    <md-option ng-repeat="g in imageListCtrl.myGroups" value="{{g.id}}" ng-click="imageListCtrl.getImagesByGroup(g.id)">{{g.name}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <md-input-container class="md-block" flex-gt-sm style="margin-right: 8px;">
                <label>{{'imgs' | translate}}</label>
                <md-select ng-model="imageListCtrl.selectedImageSize">
                    <md-option value="large" ng-click="imageListCtrl.setImageSize('large')">{{'lg' | translate}}</md-option>
                    <md-option value="medium" ng-click="imageListCtrl.setImageSize('medium')">{{'md' | translate}}</md-option>
                    <md-option value="small" ng-click="imageListCtrl.setImageSize('small')">{{'sm' | translate}}</md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" ng-hide="imageListCtrl.images.length == 0">
            <div class="grid">
                <div class="grid-sizer"></div>
                <div class="grid-item pinto" ng-repeat="image in imageListCtrl.images">
                    <md-card md-theme="default" md-theme-watch>
                        <div class="col-md-12" style="height: 50px; margin-top: 15px;">
                            <div class="col-md-6">
                                <span>{{image.ownerName}} ({{image.groupName}})</span>
                            </div>
                            <div class="col-md-6" style="text-align:end;">
                                {{image.uploadTime | date:'yyyy.MM.dd. HH:mm:ss'}}
                            </div>
                        </div>
                        <div class="col-md-12" style="">
                            <a href="api/Image/GetImage/{{image.imageId}}" data-lightbox="roadtrip" data-title="{{image.description}}">
                                <img http-src="api/Image/GetImage/{{image.imageId}}" class="myimg" style="margin: auto;" />
                            </a>
                        </div>
                        <div class="col-md-10 col-md-offset-1" style="text-align: center; margin-top: 10px; margin-bottom: 10px; font-weight: bold; font-style: italic;">
                            <span>{{image.description}}</span>
                        </div>
                        <div class="col-md-12" style="">
                            <md-button style="float: right;" class="md-raised md-warn" ng-click="imageListCtrl.showDeleteImageDialog($event, image.imageId)" ng-hide="!image.isMine" ng-disabled="imageListCtrl.SharedProperties.waitingForResp">{{'del' | translate}}</md-button>
                            <md-button style="float: right;" class="md-raised" ng-click="imageListCtrl.showChangeDescriptionDialog($event, image.imageId)" ng-hide="!image.isMine" ng-disabled="imageListCtrl.SharedProperties.waitingForResp">{{'cdes' | translate}}</md-button>
                        </div>
                    </md-card>
                </div>
            </div>

            <div style="text-align: center;">
                <md-button class="md-fab" ng-click="imageListCtrl.showMore()" ng-hide="!imageListCtrl.hasMore">{{'more' | translate}}</md-button>
                <div class="alert alert-info" role="alert" ng-hide="imageListCtrl.hasMore">{{'msg5' | translate}}</div>
            </div>
        </div>
        <div style="text-align: center;" class="alert alert-info" role="alert" ng-hide="imageListCtrl.images.length > 0">{{'msg6' | translate}}</div>
    </div>
</div>