<div ng-cloak>
    <md-fab-speed-dial md-open="false" md-direction="left" class="md-scale">
        <md-fab-trigger>
            <md-button aria-label="menu" class="md-raised md-button md-ink-ripple">
                <img ng-src="{{languageSelectCtrl.selectedLanguageFlag}}" style="max-width: 24px;" />
                <span style="vertical-align: middle;" ng-bind="languageSelectCtrl.selectedLanguageTitle"></span>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button class="md-raised md-button md-ink-ripple" ng-hide="languageSelectCtrl.selectedLanguageTitle == 'ENG'" ng-click="languageSelectCtrl.selectLanguage('en');">
                <img src="/Content/Images/en.svg" style="max-width: 24px;" />
                <span style="vertical-align: middle;">ENG</span>
            </md-button>
            <md-button class="md-raised md-button md-ink-ripple" ng-hide="languageSelectCtrl.selectedLanguageTitle == 'HUN'" ng-click="languageSelectCtrl.selectLanguage('hu');">
                <img src="/Content/Images/hu.svg" style="max-width: 24px;" />
                <span style="vertical-align: middle;">HUN</span>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>
</div>