<md-dialog-content class="md-dialog-content" role="document" tabindex="-1" style="width: 400px;">
    <h2 class="md-title ng-binding" style="margin-bottom: 25px;">{{'cyp' | translate}}</h2>

    <form name="profileChangePasswordForm">
        <md-input-container class="md-block" style="margin-bottom: 0;">
            <label>{{'opass' | translate}}</label>
            <input required type="password" id="profileChangePasswordFormOldPassword" name="oldPassword" ng-model="profileChangePasswordDialogCtrl.oldPassword" style="max-width: none; width: 100%;" my-enter="profileChangePasswordDialogCtrl.changePassword()" />
            <div ng-messages="profileChangePasswordForm.oldPassword.$error" role="alert">
                <div ng-message-exp="['required']">
                    {{'req' | translate}}
                </div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>{{'npass' | translate}}</label>
            <input required type="password" id="profileChangePasswordFormNewPassword" name="newPassword" ng-model="profileChangePasswordDialogCtrl.newPassword" style="max-width: none; width: 100%;" my-enter="profileChangePasswordDialogCtrl.changePassword()"
                   minlength="6" maxlength="32" ng-pattern="/^(?=.*[A-Z])(?=.*[0-9])(?=.*[a-z]).{6,32}$/" />
           
            <p ng-show="profileChangePasswordForm.newPassword.$error.required" class="md-body-1 errorMessage">{{'req' | translate}}</p>
            <p ng-show="profileChangePasswordForm.newPassword.$error.maxlength" class="md-body-1 errorMessage">{{'val3' | translate}}</p>
            <p ng-show="profileChangePasswordForm.newPassword.$error.minlength" class="md-body-1 errorMessage">{{'val4' | translate}}</p>
            <p ng-show="profileChangePasswordForm.newPassword.$error.pattern" class="md-body-1 errorMessage">{{'val5' | translate}}</p>
        </md-input-container>
        <md-input-container class="md-block">
            <label>{{'npconf' | translate}}</label>
            <input required type="password" id="profileChangePasswordFormNewPasswordConfirm" name="newPasswordConfirm" ng-model="profileChangePasswordDialogCtrl.newPasswordConfirm" style="max-width: none; width: 100%;" my-enter="profileChangePasswordDialogCtrl.changePassword()"
                   match="profileChangePasswordDialogCtrl.newPassword" />
            
            <p ng-show="profileChangePasswordForm.newPasswordConfirm.$error.required" class="md-body-1 errorMessage">{{'req' | translate}}</p>
            <p ng-show="profileChangePasswordForm.newPasswordConfirm.$error.match" class="md-body-1 errorMessage">{{'val6' | translate}}</p>
        </md-input-container>
        <md-input-container class="md-block" style="margin-top: 0px; text-align: center;">
            <md-button md-no-ink class="md-primary" style="" ng-click="profileChangePasswordDialogCtrl.cancel()">
                {{'can' | translate}}
            </md-button>
            <md-button md-no-ink class="md-primary" style="" ng-click="profileChangePasswordDialogCtrl.changePassword()" ng-disabled="profileChangePasswordForm.$invalid">
                {{'sav' | translate}}
            </md-button>
        </md-input-container>
    </form>
</md-dialog-content>
