<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <section class="md-whiteframe-z1">
            <md-toolbar class="md-primary">
                <div class="md-toolbar-tools">
                    <h3>{{'reg' | translate}}</h3>
                    <span flex="" class="flex"></span>
                    <language-select></language-select>
                </div>
            </md-toolbar>
            <div>
                <md-content layout-padding>
                    <form name="registerForm">
                        <md-input-container class="md-block">
                            <label>{{'name' | translate}}</label>
                            <md-icon>person</md-icon>
                            <input type="text" required maxlength="1000" name="name" ng-model="registerCtrl.name" style="max-width: none; width: 100%;" my-enter="registerCtrl.register()">
                            <div ng-messages="registerForm.name.$error">
                                <div ng-message="required">{{'treq' | translate}}</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Email</label>
                            <md-icon>email</md-icon>
                            <input required type="email" name="email" ng-model="registerCtrl.email" ng-pattern="/^.+&#64;.+\..+$/" style="max-width: none; width: 100%;" my-enter="registerCtrl.register()" />
                            <div ng-messages="registerForm.email.$error" role="alert">
                                <div ng-message-exp="['required', 'pattern']">
                                    {{'val1' | translate}}
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>{{'pass' | translate}}</label>
                            <md-icon>vpn_key</md-icon>
                            <input required type="password" name="password" ng-model="registerCtrl.password" minlength="6" maxlength="32" ng-pattern="/^(?=.*[A-Z])(?=.*[0-9])(?=.*[a-z]).{6,32}$/"
                                   style="max-width: none; width: 100%;" my-enter="registerCtrl.register()">

                            <p ng-show="registerForm.password.$error.required" class="md-body-1 errorMessage">{{'treq' | translate}}</p>
                            <p ng-show="registerForm.password.$error.pattern" class="md-body-1 errorMessage">{{'val5' | translate}}</p>
                            <p ng-show="registerForm.password.$error.maxlength" class="md-body-1 errorMessage">{{'val3' | translate}}</p>
                            <p ng-show="registerForm.password.$error.minlength" class="md-body-1 errorMessage">{{'val4' | translate}}</p>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>{{'pass' | translate}}</label>
                            <md-icon>vpn_key</md-icon>
                            <input type="password" required name="passwordConfirm" ng-model="registerCtrl.passwordConfirm" style="max-width: none; width: 100%;" my-enter="registerCtrl.register()" match="registerCtrl.password">

                            <p ng-show="registerForm.passwordConfirm.$error.required" class="md-body-1 errorMessage">{{'treq' | translate}}</p>
                            <p ng-show="registerForm.passwordConfirm.$error.match" class="md-body-1 errorMessage">{{'val6' | translate}}</p>
                        </md-input-container>
                        <md-input-container class="md-block" style="margin-top: 0px; text-align: center;">
                            <md-button class="md-raised md-primary" style="width: 250px;" ng-click="registerCtrl.register()">
                                <span class="glyphicon glyphicon-registration-mark"></span>{{'reg' | translate}}
                            </md-button>
                        </md-input-container>
                    </form>
                    <md-divider></md-divider>
                    <md-input-container class="md-block" style="margin: 0;text-align: center;">
                        <md-button md-no-ink class="md-primary" style="text-transform: none;" ng-link="['Login']">{{'regmsg' | translate}}</md-button>
                    </md-input-container>
                </md-content>
            </div>
        </section>
    </div>
</div>